%h1
  =image_tag @user.avatar, class: "img-polaroid"
  =@user.name

- if current_user == @user
  = link_to 'Signout', logout_path, class: :btn

%h4 Albums
%ul.thumbnails
  - @user.albums.each do |album|
    %li
      - if album.cover
        = link_to image_tag(album.cover.image_url(:cover), class: "img-polaroid img-rounded"), album
      %br
      = content_tag :h4, link_to(album.name, album)
