%ul.thumbnails
  - @albums.each do |album|
    %li
      = image_or_placeholder(album)
      /= link_to image_tag(album.cover, class: "img-polaroid img-rounded"), album if album.cover
      %h3
        = album.name

= link_to '<i class="icon-plus"> </i> New Album'.html_safe, new_album_path, class: :btn if current_user

