.row-fluid
  .span12
    %ul.breadcrumb
      %li.active Albums

.row-fluid
  .span12

    %ul#sortable.thumbnails
      -@albums.each do |album|
        = render album

.row-fluid
  .span12
    = link_to content_tag(:i, nil, class: 'icon-plus') +'New Album', new_album_path, class: :btn

:javascript
  $(document).ready(function(){
    $("#sortable").disableSelection();
    $("#sortable").sortable({
      update: function(event, ui) {
        var AlbumsOrder = $(this).sortable('toArray');
        $.post( 'albums/sort', {AlbumsOrder:AlbumsOrder});
      }
    });
  });