.row-fluid
  .thumbnails
    - @albums.each do |album|
      = image_or_placeholder(album)
      = link_to album.name, album


.row-fluid
  .span12
    = link_to '<i class="icon-plus"> </i> New Album'.html_safe, new_album_path, class: :btn if current_user

