.controls{ min-height:40px; }
.comment-avatar{ padding:0 .5em; }

// #sortable li{ height:300px; }
// #sortable li img{ max-height:250px; }

#sortable h2 {
  line-height:0;
  margin:5px;

}

#sortable h2 a{
  color:#000;
}

#sortable h2 a:hover{
  text-decoration:none;
  color: #0088cc;
}

.albums-head{padding-left:1.5em;}


//=-=-=-=-=-=--= MEDIA Query =-=-=-=-=-//
@media (max-width: 480px) {
  .activity-feed{ display:none;}
 }
