// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_set{
  margin-bottom: 2%;
}

.spaced{
  padding: 0.25em 0;
}

.boxsizingBorder {
  width:100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}