// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carousel{max-width:640px;}
body { background-image: image-url("bg.png") }

.featured {
  margin: 1em 0;
}
.navbar a.brand{
  margin-left: 0.25em;
  @include background(linear-gradient($start-color, $end-color) left repeat);
}
