
.main-wrapper a {
  color: $primary2;
}

.main-wrapper a:hover {
  color: $secondary2;
}

.main-heading{
  @include radial-gradient($secondary1, $primary1);
  @include box-shadow(0 0 3px 2px hsla(0, 0%, 0%, 0.35));

  border-right: 3px solid $secondary3;
  text-align:right;
  padding: 1em;
  position:fixed;
  top:0;
  bottom:0;
  p a { padding:0.25em;}
  p i { padding-right: 0.1em;}
}
.sign-in{
  position:absolute;
  bottom: 2em;
  right: 2em;
}
.photo{
  @include border-top-radius(5px);
  @include border-bottom-radius(5px);
  @include border-left-radius(5px);
  @include border-right-radius(5px);
}

.shadow{
  @include box-shadow(0 0 3px 2px hsla(0, 0%, 0%, 0.35));
}

h1.brand{
  color:white;
  padding-bottom:0;
  margin-bottom:0;
}

p.brand_subtag {
  padding:0;
  margin:0;
  color:gray;
  font-size: 0.8em;
}

.main-content{
  padding: 1em;
}


.blog{
  .entry{
    h2 {
      margin:0;
      padding:0;
    }
    span.date {
      color:$secondary2;
      font-size: .8em;
    }
  }
}
