$maxWidth: 75ch;
$gutterWidth: 2em;

main.landing, main.post, article, .pagination-controls {
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  //padding: 1rem;
  max-width: $maxWidth;
}

nav, hr.article {
  margin-left: auto;
  margin-right: auto;
  max-width: $maxWidth;
}

hr.article{
  margin-top: 2em;
  margin-bottom: 2em;
}

header .post-date svg {
  display: inline;
}

.pagination-controls {
  margin-top: 2em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  $gutterWidth: 0.2em;
  // section {
  //   margin: 1em $gutterWidth;
  // }
  // nav {
  //   padding-left: $gutterWidth;
  //   padding-right: $gutterWidth;
  // }

  /// article {
  ///   header {
  ///     span.post-date {
  ///       text-align: left;
  ///     }
  ///     margin: 0 0 1.5em 0;
  ///   }
  /// }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  // $gutterWidth: 0.5em;
  // section {
  //   margin: 1em $gutterWidth;
  // }
  // nav {
  //   padding-left: $gutterWidth;
  //   padding-right: $gutterWidth;
  // }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  $gutterWidth: 2em;
  // section {
  //   margin: 1em $gutterWidth;
  // }
  //nav {
  //  padding-left: $gutterWidth;
  //  padding-right: $gutterWidth;
  //}

  // main.blog-landing, main.landing, main.post, main.speaking-landing {
  //   max-width:65ch;
  //   padding: 0
  // }

  // article {
  //   font-size:1.125rem;
  //   line-height: 1.7777778
  // }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  //$gutterWidth: 5em;
  // section {
  //   max-width:65ch;
  //   padding: 0;
  //   //margin: 1em $gutterWidth;
  // }
  // nav {
  //   padding-left: $gutterWidth;
  //   padding-right: $gutterWidth;
  // }

  // article {
  //   header {
  //     // grid
  //     display: grid;
  //     h2 {
  //       grid-column: 1/2;
  //     }
  //     span.post-date {
  //       grid-column: 2/2;
  //       text-align: right;
  //     }
  //     // end grid
  //   }
  // }
}
