html,
body,
p,
h1,
h2,
h3,
span,
ul,
ol,
li {
	-webkit-font-smoothing: antialiased;
	color: rgba(46, 48, 58, 0.96);
}

#content {
	margin-top: 6em;
	h1 {
		font-size: 1.95em;
		font-family: 'Open Sans', sans-serif;
	}
}

.sidebar h1 {
	font-size: 1.5em;
}

ol li {
	margin-left: 2em;
	padding-left: 0.25em;
	list-style-type: decimal;
}

#header h1 {
	margin-top: 0px;
}

body {
	background: #f0f0f0 url(/images/bg-noise.gif) repeat -70% 0;
	p {
		font-size: 1.2em;
		line-height: 1.56em;
	}
}

hr {
	border-top: 1px solid #eee;
}

nav h1 a {
	color: #fff;
	background: linear-gradient(#ff0000, #ff0000) left repeat;
	padding: 0.15em;
	// font-size: 2.2em;
	font-size: 2em;
	border-bottom: 2px solid #9a000046;
	border-right: 2px solid #8e020246;
}

body {
	background: #f0f0f0 url(/bg-noise.gif) repeat -70% 0;
}
a {
	// color: #428bca;
	color: #005a8e;
	text-decoration: none;
	background: 0 0;
	cursor: pointer;
}

nav {
	width: 100%;
	height: 50px;
	position: sticky;
	top: 0;
	background-color: #f8f8f8;
	border-bottom: solid 1px #e7e7e7;
	z-index: 1;

	ul {
		display: flex;
		margin: 0;
		padding: 0 100px;
		justify-content: flex-end;
	}

	h1 a {
		color: #fff;
		background: linear-gradient(#ff0000, #ff0000) left repeat;
		padding: 0.15em;
		font-size: 1.5em;
	}
}

article {
	overflow: hidden;
	padding: 1em;
	padding: 0 1em;
	// margin: 1em $gutterWidth;
	background-color: white;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-top: 1px solid #fff;
	position: relative;
	background-color: white;

	p {
		margin: 0.5em 0;
	}

	header {
		// grid
		display: grid;
		h2 {
			grid-column: 1/2;
		}
		span.post-date {
			grid-column: 2/2;
		}
		// end grid

		span.post-date {
			text-align: right;
			margin: 1em 0;
			padding: 0.5em;
			// color: #898989;
			color: #505050;
			//font-size: x-small;
		}

		border-bottom: 1px solid #eee;

		h1,
		h2 {
			// display: inline-block;
			margin: 0.5em 0;
			font-size: 1.95em;
		}
	}
}
