!!! 5
%html
  =render :file => 'layouts/shared/head'
%body
  / .navbar.navbar-inverse.navbar-fixed-top
  /   .navbar-inner
  /     .container-fluid
  /       =render :file => 'layouts/shared/title'
        /render :file => 'layouts/shared/navigation'

  #content.container-fluid
    .row-fluid
      .span12
        =render :file => 'layouts/shared/notifications'
        = yield
    .row-fluid
      .span12
