!!! 5
%html
  =render :file => 'layouts/shared/head'
%body
  .main-wrapper
    .main-heading
      =render :file => 'layouts/shared/heading'

    .notifications
      =render :file => 'layouts/shared/notifications'

    .main-content.blog
      =render partial: "layouts/entry", collection: Blog.new.items, as: :item

